# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
# Your code here:
admissions.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [5]:
# Your code here:
admissions.set_index('Serial No.', inplace =True)
admissions.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [6]:
# Your code here:
(admissions['GRE Score'].astype('str')+admissions['CGPA'].astype('str')).nunique()

385

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [7]:
# Your code here:
admissions.set_index(['GRE Score','CGPA'], inplace =True)

In [8]:
admissions.head()

,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92
316,8.00,104,3,3.0,3.5,1,0.72
322,8.67,110,3,3.5,2.5,1,0.80
314,8.21,103,2,2.0,3.0,0,0.65
330,9.34,115,5,4.5,3.0,1,0.90

In [9]:
admissions.reset_index(inplace = True)
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [10]:
# Your code here:
admissions.query('CGPA > 9 & Research ==1')

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
4,330,9.34,115,5,4.5,3.0,1,0.90
10,328,9.10,112,4,4.0,4.5,1,0.78
19,328,9.50,116,5,5.0,5.0,1,0.94
20,334,9.70,119,5,5.0,4.5,1,0.95
21,336,9.80,119,5,4.0,3.5,1,0.97
28,338,9.40,118,4,3.0,4.5,1,0.91
29,340,9.60,114,5,4.0,4.0,1,0.90
30,331,9.80,112,5,4.0,5.0,1,0.94
31,320,9.20,110,5,5.0,5.0,1,0.88
40,326,9.40,113,5,4.5,4.0,1,0.91
41,322,9.10,110,5,5.0,4.0,1,0.88
42,329,9.30,114,5,4.0,5.0,1,0.86
64,318,9.22,109,3,3.5,4.0,1,0.68
65,328,9.16,115,4,4.5,4.0,1,0.78
66,332,9.64,118,5,5.0,5.0,1,0.94
67,336,9.76,112,5,5.0,5.0,1,0.96
68,321,9.45,111,5,5.0,5.0,1,0.93
69,314,9.04,108,4,4.5,4.0,1,0.84
77,340,9.50,120,4,5.0,5.0,1,0.96
78,320,9.22,110,5,5.0,4.5,1,0.92
79,322,9.36,115,5,4.0,4.5,1,0.92
80,340,9.45,115,5,4.5,4.5,1,0.94
93,332,9.24,119,4,5.0,4.5,1,0.90
99,326,9.05,112,3,3.5,3.0,1,0.74
101,329,9.18,111,4,4.5,4.5,1,0.87
102,338,9.46,117,4,3.5,4.5,1,0.91
103,331,9.38,116,5,5.0,5.0,1,0.93
110,310,9.04,106,4,4.5,4.5,1,0.66
115,335,9.56,117,5,5.0,5.0,1,0.94
...,...,...,...,...,...,...,...,...
231,325,9.04,114,3,3.5,3.0,1,0.76
233,328,9.02,110,4,4.0,2.5,1,0.81
241,335,9.68,115,4,4.5,4.5,1,0.93
246,331,9.34,119,4,5.0,4.5,1,0.90
247,327,9.13,108,5,5.0,3.5,1,0.87
263,329,9.45,113,5,5.0,4.5,1,0.89
268,317,9.11,110,3,4.0,4.5,1,0.80
271,340,9.66,112,4,5.0,4.5,1,0.94
272,331,9.26,116,5,4.0,4.0,1,0.93
273,336,9.19,118,5,4.5,4.0,1,0.92
274,324,9.08,114,5,5.0,4.5,1,0.89
285,330,9.24,114,3,4.5,4.5,1,0.90
293,323,9.10,110,3,4.0,3.5,1,0.79
298,328,9.18,108,4,4.5,4.0,1,0.84
311,326,9.14,116,3,3.5,4.0,1,0.81
322,332,9.47,118,5,5.0,5.0,1,0.94
346,334,9.54,116,4,4.0,3.5,1,0.93
347,338,9.23,115,5,4.5,5.0,1,0.91
350,330,9.17,114,4,4.5,3.0,1,0.86
356,324,9.22,110,3,3.5,3.0,1,0.89
357,336,9.62,119,4,4.5,4.0,1,0.95
367,324,9.15,110,4,4.5,4.0,1,0.82
369,340,9.74,113,4,5.0,5.0,1,0.96
370,335,9.82,117,5,5.0,5.0,1,0.96
377,326,9.12,112,4,4.0,3.5,1,0.84
379,329,9.23,111,4,4.5,4.0,1,0.89
380,324,9.04,110,3,3.5,3.5,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84
382,330,9.45,116,4,5.0,4.5,1,0.91
384,333,9.66,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [11]:
# Your code here:
print(f"Mean chance of admit:{admissions.query('CGPA > 9 & SOP < 3.5')['Chance of Admit'].mean()}")
admissions.query('CGPA > 9 & SOP < 3.5')

Mean chance of admit:0.8019999999999999

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,338,9.40,118,4,3.0,4.5,1,0.91
62,327,9.02,114,3,3.0,3.0,0,0.61
140,326,9.11,114,3,3.0,3.0,1,0.83
217,324,9.01,111,4,3.0,3.0,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [12]:
# This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
# and dividing by the column's standard deviation.

def standardize(col):
    col = admissions[col]
    return (col-np.mean(col))/np.std(col)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [13]:
# Your code here:
admissions['GRE_std']=standardize('GRE Score')
admissions['CGPA_std']=standardize('CGPA')
admissions['LOR_std']=standardize('LOR')
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_std,CGPA_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,1.755663,1.750174,1.193197
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.063450,-0.992501,0.076840
2,322,8.67,110,3,3.5,2.5,1,0.80,0.456297,0.121191,-1.039517
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.236698,-0.643433,-0.481338
4,330,9.34,115,5,4.5,3.0,1,0.90,1.149292,1.234884,-0.481338

We will generate the decision choice at random using the code below. Please run the cell.

In [14]:
# Run this code:
from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [15]:
# Your code here:
admissions = admissions.assign(deciding_column = admissions.lookup(admissions.index, decision_choice))
admissions

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_std,CGPA_std,LOR_std,deciding_column
0,337,9.65,118,4,4.5,4.5,1,0.92,1.755663,1.750174,1.193197,1.193197
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.063450,-0.992501,0.076840,-0.063450
2,322,8.67,110,3,3.5,2.5,1,0.80,0.456297,0.121191,-1.039517,0.456297
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.236698,-0.643433,-0.481338,-0.236698
4,330,9.34,115,5,4.5,3.0,1,0.90,1.149292,1.234884,-0.481338,1.234884
5,321,8.20,109,3,3.0,4.0,1,0.75,0.369672,-0.660055,0.635019,0.369672
6,308,7.90,101,2,3.0,4.0,0,0.68,-0.756445,-1.158723,0.635019,0.635019
7,302,8.00,102,1,2.0,1.5,0,0.50,-1.276191,-0.992501,-2.155874,-1.276191
8,323,8.60,108,3,3.5,3.0,0,0.45,0.542921,0.004836,-0.481338,0.542921
9,327,9.00,111,4,4.0,4.5,1,0.84,0.889419,0.669726,1.193197,0.669726
10,328,9.10,112,4,4.0,4.5,1,0.78,0.976043,0.835949,1.193197,1.193197
11,307,8.00,109,3,4.0,3.0,1,0.62,-0.843069,-0.992501,-0.481338,-0.481338
12,311,8.20,104,3,3.5,2.0,1,0.61,-0.496571,-0.660055,-1.597696,-0.660055
13,314,8.30,105,3,3.5,2.5,0,0.54,-0.236698,-0.493833,-1.039517,-0.493833
14,317,8.70,107,3,4.0,3.0,0,0.66,0.023175,0.171058,-0.481338,-0.481338
15,319,8.00,106,3,4.0,3.0,1,0.65,0.196424,-0.992501,-0.481338,0.196424
16,318,8.80,110,3,4.0,3.0,0,0.63,0.109799,0.337281,-0.481338,0.109799
17,303,8.50,102,3,3.5,3.0,0,0.62,-1.189567,-0.161387,-0.481338,-0.481338
18,325,8.40,114,4,3.0,2.0,0,0.70,0.716170,-0.327610,-1.597696,0.716170
19,328,9.50,116,5,5.0,5.0,1,0.94,0.976043,1.500840,1.751376,1.500840
20,334,9.70,119,5,5.0,4.5,1,0.95,1.495789,1.833285,1.193197,1.495789
21,336,9.80,119,5,4.0,3.5,1,0.97,1.669038,1.999508,0.076840,1.669038
22,322,8.80,109,5,4.5,3.5,0,0.76,0.456297,0.337281,0.076840,0.337281
23,298,7.50,98,2,1.5,2.5,1,0.44,-1.622689,-1.823614,-1.039517,-1.039517
24,295,7.20,93,1,2.0,2.0,0,0.46,-1.882562,-2.322282,-1.597696,-2.322282
25,310,7.30,99,2,1.5,2.0,0,0.54,-0.583196,-2.156060,-1.597696,-1.597696
26,300,8.10,97,2,3.0,3.0,1,0.65,-1.449440,-0.826278,-0.481338,-0.826278
27,327,8.30,103,3,4.0,4.0,1,0.74,0.889419,-0.493833,0.635019,0.635019
28,338,9.40,118,4,3.0,4.5,1,0.91,1.842287,1.334617,1.193197,1.842287
29,340,9.60,114,5,4.0,4.0,1,0.90,2.015536,1.667063,0.635019,2.015536
...,...,...,...,...,...,...,...,...,...,...,...,...
355,310,8.24,103,2,2.5,2.5,0,0.72,-0.583196,-0.593566,-1.039517,-0.583196
356,324,9.22,110,3,3.5,3.0,1,0.89,0.629546,1.035416,-0.481338,0.629546
357,336,9.62,119,4,4.5,4.0,1,0.95,1.669038,1.700307,0.635019,1.700307
358,321,8.54,109,3,3.0,3.0,1,0.79,0.369672,-0.094898,-0.481338,-0.094898
359,315,7.65,105,2,2.0,2.5,0,0.39,-0.150074,-1.574280,-1.039517,-1.039517
360,304,7.66,101,2,2.0,2.5,0,0.38,-1.102942,-1.557658,-1.039517,-1.557658
361,297,7.43,96,2,2.5,2.0,0,0.34,-1.709313,-1.939970,-1.597696,-1.939970
362,290,7.56,100,1,1.5,2.0,0,0.47,-2.315684,-1.723881,-1.597696,-2.315684
363,303,7.65,98,1,2.0,2.5,0,0.56,-1.189567,-1.574280,-1.039517,-1.189567
364,311,8.43,99,1,2.5,3.0,1,0.71,-0.496571,-0.277743,-0.481338,-0.277743
365,322,8.84,104,3,3.5,4.0,1,0.78,0.456297,0.403770,0.635019,0.456297
366,319,8.67,105,3,3.0,3.5,1,0.73,0.196424,0.121191,0.076840,0.076840
367,324,9.15,110,4,4.5,4.0,1,0.82,0.629546,0.919061,0.635019,0.919061
368,300,8.26,100,3,3.0,3.5,0,0.62,-1.449440,-0.560322,0.076840,-0.560322
369,340,9.74,113,4,5.0,5.0,1,0.96,2.015536,1.899775,1.751376,1.899775
370,335,9.82,117,5,5.0,5.0,1,0.96,1.582414,2.032753,1.751376,2.032753
371,302,7.96,101,2,2.5,3.5,0,0.46,-1.276191,-1.058990,0.076840,-1.058990
372,307,8.10,105,2,2.0,3.5,0,0.53,-0.843069,-0.826278,0.076840,-0.843069
373,296,7.80,97,2,1.5,2.0,0,0.49,-1.795937,-1.324946,-1.597696,-1.597696
374,320,8.44,108,3,3.5,4.0,1,0.76,0.283048,-0.261121,0.635019,0.635019
375,314,8.24,102,2,2.0,2.5,0,0.64,-0.236698,-0.593566,-1.039517,-0.236698
376,318,8.65,106,3,2.0,3.0,0,0.71,0.109799,0.087947,-0.481338,0.087947
377,326,9.12,112,4,4.0,3.5,1,0.84,0.802794,0.869194,0.076840,0.076840
378,317,8.76,104,2,3.0,3.0,0,0.77,0.023175,0.270792,-0.481338,0.270792
379,329,9.23,111,4,4.5,4.0,1,0.89,1.062667,1.052039,0.635019,0.635019
380,324,9.04,110,3,3.5,3.5,1,0.82,0.629546,0.736216,0.076840,0.736216
381,325,9.11,107,3,3.0,3.5,1,0.84,0.716170,0.852571,0.076840,0.716170
382,330,9.45,116,4,5.0,4.5,1,0.91,1.149292,1.417729,1.193197,1.417729
383,312,8.78,103,3,3.5,4.0,0,0.67,-0.409947,0.304036,0.635019,0.304036
384,333,9.66,117,4,5.0,4.0,1,0.95,1.409165,1.766796,0.635019,1.766796

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [16]:
# Your code here:
admissions['decision'] = np.where(admissions['deciding_column']> .8, 1,0)
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_std,CGPA_std,LOR_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.755663,1.750174,1.193197,1.193197,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.063450,-0.992501,0.076840,-0.063450,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.456297,0.121191,-1.039517,0.456297,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.236698,-0.643433,-0.481338,-0.236698,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.149292,1.234884,-0.481338,1.234884,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [17]:
# Your code here:
admissions.decision.sum()

90

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [18]:
# Your code here
new_columns = {col:col.replace(' ','_').lower() for col in admissions.columns}
admissions.rename(columns = new_columns, inplace=True)
admissions.head()

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,gre_std,cgpa_std,lor_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.755663,1.750174,1.193197,1.193197,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.063450,-0.992501,0.076840,-0.063450,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.456297,0.121191,-1.039517,0.456297,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.236698,-0.643433,-0.481338,-0.236698,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.149292,1.234884,-0.481338,1.234884,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [19]:
# Your code here:
admissions.gre_score = np.where(admissions.university_rating>=4,admissions.gre_score+10,admissions.gre_score)

In [20]:
admissions['adjusted_gre'] = pd.cut(admissions.gre_score,4)

In [21]:
admissions.head()

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,gre_std,cgpa_std,lor_std,deciding_column,decision,adjusted_gre
0,347,9.65,118,4,4.5,4.5,1,0.92,1.755663,1.750174,1.193197,1.193197,1,"(335.0, 350.0]"
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.063450,-0.992501,0.076840,-0.063450,0,"(305.0, 320.0]"
2,322,8.67,110,3,3.5,2.5,1,0.80,0.456297,0.121191,-1.039517,0.456297,0,"(320.0, 335.0]"
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.236698,-0.643433,-0.481338,-0.236698,0,"(305.0, 320.0]"
4,340,9.34,115,5,4.5,3.0,1,0.90,1.149292,1.234884,-0.481338,1.234884,1,"(335.0, 350.0]"